<div class="register">
   <mat-card class="register-card">
      <mat-card-header class="header">
         <mat-card-title class="header-text">Registration</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form>
            <div class="form-input">
               <mat-form-field>
                  <input matInput placeholder="First Name" type="text" [(ngModel)]="newUser.firstName" id="firstName"
                     class="first-name" name="firstName">
               </mat-form-field>
               <mat-form-field>
                  <input matInput placeholder="Last Name" type="text" [(ngModel)]="newUser.lastName" id="lastName"
                  class="last-name" name="lastName">
               </mat-form-field>
               <mat-form-field>
                  <input matInput placeholder="User Name" type="text" [(ngModel)]="newUser.userName" id="userName"
                  class="user-name" name="userName" required>
               </mat-form-field>
               <mat-form-field>
                  <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'"
                     [(ngModel)]="newUser.password" class="password" id="password" name="password" required>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                     [attr.aria-pressed]="hide">
                     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
               </mat-form-field>
            </div>
            <mat-card-actions>
               <button mat-raised-button class="main-register-button" id="mainRegisterButton" color="primary"
                  type="submit" (click)="registerUser()">Register</button>
               <button mat-raised-button color="primary" (click)="resetInput()">Clear</button>
            </mat-card-actions>
         </form>
         <div *ngIf="error == '409'">
            <span>User with same Username already exists!!</span>
         </div>
         <div *ngIf="(error && error != '409')|| error == '0'">
            <span>Network or Internal Server Error!!</span>
         </div>
      </mat-card-content>
   </mat-card>
</div>